
<form action="/auth/login" method="POST" id="form-container">

  <br><br>

  <input id="username" type="text" name="username" placeholder="username or email">

  <br><br>

  <input type="password" name="password" id="myPasswordLogin" size="20" placeholder="Password" />
 <i class="fas fa-eye"  onmouseover="mouseoverPassLogin();" onmouseout="mouseoutPassLogin();"></i>

  <br><br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  
  <br><br>

  <div class="wrapper">
  <button id="loginButton" type="submit" class="btn btn-outline-dark">Login</button>
</div>
  
  <br><br>

  <p id="acc-message" class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>
