

<form action="/auth/signup" method="POST" id="form-container">

  <br><br>
  
  <label for="email">Email</label>
  <input id="Email" type="text" name="email" placeholder="JonSnow@gmail.com">

  <br><br>

  <label for="username">Username</label>
  <input id="Username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="passwordSignup" type="password" name="password" placeholder="Your password">
   <i class="fas fa-eye"  onmouseover="mouseoverPassSignup();" onmouseout="mouseoutPassSignup();"></i>
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}



 <button id="signupButton" type="submit" class="btn btn-outline-dark">Create Account</button>
 
 
  <p class="account-message">
    
    
  </p>
</form>
