

<form action="/auth/signup" method="POST" id="form-container">

  <br><br>

<div class="md-form">
  <i class="fas fa-user prefix"></i>
  <input type="text" id="inputIconEx2" class="form-control" placeholder="Email or Username" style="width: 160px;">
  <label for="inputIconEx2"></label>
</div>
  
  <br><br>
  <div class="md-form">
  <i class="fas fa-lock prefix"></i>
  <input type="password" id="myPasswordSignup" class="form-control validate" placeholder="Password" style="width: 160px;">
   <i class="fas fa-eye"  onmouseover="mouseoverPassSignup();" onmouseout="mouseoutPassSignup();"></i>
     <label for="myPasswordSignup" data-error="wrong" data-success="right"></label>
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}



 <button id="signupButton" type="submit" class="btn btn-outline-dark">Create Account</button>
 
 
  <p class="account-message">
    
    
  </p>
</form>
