<div class="card-2 bg-dark" style="width: 18rem;">
  <div class="child">
    <img src="/images/full-logo.png" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
   
      <p> Welcome to myMemes. <br> Create an account.</p>
      <a class="btn btn-primary btn-dark" href="/auth/signup" role="button">Sign Up</a>
      <a class="btn btn-primary btn-dark" href="/auth/login" role="button">Login</a>
    </div>
  </div>
</div>