<div class="card-2" style="width: 18rem;">
  <img src="/images/full-logo.png" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
  <div class="card-body-2">
    <p> Welcome to myMemes. <br> Create an account.</p>
    <a class="btn btn-primary" href="/auth/signup" role="button">Sign Up</a>
    <a class="btn btn-primary" href="/auth/login" role="button">Login</a>
  </div>
</div>