<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h2>Upload your Meme</h2>
      <form action="/auth/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="photo" class="btn btn-primary my-2">
        <input type="submit" value="upload" class="btn btn-primary my-2">
      </form>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4 shadow-sm">
            <p class="card-text">This is a description for your Meme.</p>
            
            <div class="card-body" >
              <img src="https://i.imgflip.com/2z96un.jpg" title="made at imgflip.com" class="img-fluid" alt="Responsive image" width="600px" height="600px" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</main>




