<div class="profile"> 
  <div class="user">
    <div class="userinfo">
      <img src="" >
      <p>{{user.username}}</p>
      <form action="/auth/profilePic" method="POST" enctype="multipart/form-data">
      <input type="file" name="photo">
      <input type="submit" value="Submit">
      </form>
    </div>
    {{!-- <article>
      <p>Friends</p>
    </article> --}}
      <article>
      <p>myMemes</p>
    </article>
      <article>
      <p>Favorites</p>
    </article>
  </div>
  
</div>