<div class="profile"> 
  <div class="user">
    <div class="userinfo">
      <img src="{{user.profilePic}}" >
      <p>{{user.username}}</p>
    </div>
      <article>
      <p>myMemes</p>
      {{#each memes}}
      <img src="{{path}}">
      {{/each}}
    </article>
    <article>
      <p>Favorites</p>
      {{#each user}}
      <img src="{{__favouriteMemes}}" alt="">
      {{/each}}
    </article>
  </div>
</div>