.profile {
  display: flex;
  justify-content: space-around;
}
.userinfo {
  display: flex;
  margin-top: 89px;
  flex-direction: column;
}
article {
  text-align: center;
  border: 1px black solid;
  width: 600px;
  height: 500px;
  margin: 10px;
}
img {
  width: 100px;
}
span {
  border: 1px black solid;
  width: 200px;
  height: 10px;
  margin: 10px;
}