@import "../../node_modules/bootstrap/scss/bootstrap"; 
.profile {
  display: flex;
  justify-content: space-around;
}
.userinfo {
  display: flex;
  margin-top: 89px;
  flex-direction: column;
}
article {
  text-align: center;
  border: 1px black solid;
  width: 600px;
  height: 500px;
  margin: 10px;
}
img {
  width: 100px;
}
span {
  border: 1px black solid;
  width: 200px;
  height: 10px;
  margin: 10px;
}
body {
  background-color: rgb(250, 251, 252)  !important;
  font-family: Circular,Helvetica,Arial,sans-serif !important;
}
.container {
  display: flex;
  justify-content: space-around;
}
.card-text{
  text-align: center;
  width: 550px;
  margin: 0px 0px 0px 40px ;
  padding: 0px
}
.card-body{
  text-align: center;
  border: 1px black solid;
  width: 600px;
  height: 700px;
  margin: 10px;
}
.card-body-2{
  text-align: center;
  border: 1px black solid;
  margin: 10px;
}
.Meme-Name{
  margin:0px auto;
  bottom: 10px
}
body {
  background-image: url("/images/index.png");
}
#myPasswordLogin{
background-color:rgb(52, 58, 64);
color: white;
}

#inputIconEx2{
  background-color:rgb(52, 58, 64);
  color: white;
}

#myPasswordSignup{
  background-color:rgb(33, 33, 33);
  color: white;
}



.loginContainer{
border-color: aquamarine 15px;
background-color: aliceblue;
width: 400px;
height: 300px;

}