


<form action="/auth/login" method="POST" id="form-container">

  <input id="username" type="text" name="username" placeholder="username">



  <input id="Password" type="text" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  
  
  <div class="wrapper">
  <button id="loginButton" type="submit" class="btn btn-outline-dark">Login</button>
</div>
  
  <br><br>

  <p id="acc-message" class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>
