

<form action="/auth/signup" method="POST" id="form-container">

  

</div>
  
  <input id="Username" type="text" name="Username" placeholder="Username">
  

  <input id="Email" type="text" name="Email" placeholder="Email">




<input id="password" type="text" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

 <div class="wrapper">
 <button type="submit" class="btn btn-outline-dark">SignUp</button>
 </div>
 
  <p class="account-message">
    
    
  </p>
</form>
